{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

<div class="grid-container">
        <div class="row">
            <div class="col-sm-4" ></div>
            <div class="col-sm-4 rounded">

    <h1>
        Nieuw wachtwoord
    </h1>
    </br>


    <form action="{{ url_for('change_password') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Current Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new_password" placeholder="New Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password_control" placeholder="Password Control" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change</button>
            </div>
        </fieldset>

        </div>

    </form>
{% endblock %}
