{% extends "layout.html" %}

{% block title %}
    Volgend
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <style>
            tfoot {color:red;}
        </style>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Gebruikersnaam</th>
                <th>Profiel</th>
            </tr>
        </thead>
        <tbody>
        {% for i in users  %}
            <tr>
                <td>{{ i.following_full_name }}</td>
                <td>{{ i.following_username }}</td>
                <td><a href="{{ url_for('profile') }}?fullname={{i.following_full_name}}&username={{i.following_username}}" class="button">Bekijk profiel</a></td>
            </tr>

        {% endfor %}

    </table>
{% endblock %}