{%extends "layout.html" %}

{% block title %}
    Volgers
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Profile</th>
                <th>Follow/Unfollow</th>
            </tr>
        </thead>
        <tbody>
        {% for i in users  %}
            <tr>
                <td>{{ i.own_full_name }}</td>
                <td>{{ i.own_username }}</td>
                <td><a href="{{ url_for('profile') }}?fullname={{i.own_full_name}}&username={{i.own_username}}" class="button">View Profile</a></td>
                {% if i.own_username in following_user %}
                    <td><a href="{{ url_for('remove_following') }}?fullname={{i.full_name}}&username={{i.username}}",  class="button">Unfollow</a></td>
                {% else %}
                    <td><a href="{{ url_for('add_following') }}?fullname={{i.full_name}}&username={{i.username}}",  class="button">Follow</a></td>
                {% endif %}
            </tr>



        {% endfor %}

    </table>
{% endblock %}