{%extends "layout.html" %}

{% block title %}
    Volgers
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <style>
            tfoot {color:red;}
        </style>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Gebruikersnaam</th>
                <th>Profiel</th>
            </tr>
        </thead>
        <tbody>
        {% for i in users  %}
            <tr>
                <td>{{ i.full_name }}</td>
                <td>{{ i.username }}</td>
                <td><a href="/profile" class="button">Bekijk profiel</a></td>
            </tr>



        {% endfor %}

    </table>
{% endblock %}