{% extends "layout.html" %}

{% block title %}
    GIF Display
{% endblock %}

{% block main %}
<body>
    {% for url in gifs %}

        <img src="{{url}}">
        <br>
        <br>
        <form action="{{ url_for('gif_uploaden')}}?url={{url}}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="description" placeholder="Description" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Upload GIF</button>
            </div>
        </fieldset>
    </form>

    {% endfor %}
</body>


{% endblock %}