{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="grid">
      <div class="profile"></div>
          <div class="col-sm-3 rounded" >
            <h3>{{full_name}}</h3>
            <h6>(@{{username}})</h6>
            <img src = "https://image.flaticon.com/icons/svg/149/149448.svg">
            </br>
            <h6>{{bio}}</h6>
            </br>

            <div class="button-wrapper">
            <div class="col-sm-6">
            <a href="/followers" class="button">Followers</a>
            </div>

            <div class="col-sm-6">
            <a href="/following" class="button">Following</a>
            </div>

            </div>


          </br>
          </br>

          </div>
          <div class="col-sm-1 rounded">test</div>
          <div class="col-sm-8 rounded">
          <div class="row">
         <div class="col-sm-6" style="background-color:lightcyan;">
             <tbody>
                 {% for info in file_info %}
                 <img src= "{{ url_for('uploaden')}}/{{info.username}}/{{info.filename}}" >
                <p>
                    <b>{{info.username}}:</b> {{info.description}}
                    </br> +{{info.likes}}
                 {% endfor %}

                 </tbody>


         </div>
        <div class="col-sm-6" style="background-color:lightgray;">test</div>
        </div>
      </div>
    </div>





{% endblock %}