{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="grid">
      <div class="profile"></div>
          <div class="col-sm-3 rounded" >
            <h3>{{full_name}}</h3>
            <h6>(@{{username}})</h6>
            <img src = "https://image.flaticon.com/icons/svg/149/149448.svg">
            <a href="http://ide50-moah768.cs50.io:8080/volgers" class="button">Volgers</a>
            <a href="http://ide50-moah768.cs50.io:8080/volgend" class="button">Volgend</a>




          </div>

    </div>



{% endblock %}