
<!-- !!!!letterlijk overgenomen van finance!!!!  -->

<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>FOODSHOW: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="container">

            <nav class="navbar navbar-default" style="background-color:#F5F5F5;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('timeline') }}"><img src="static/logo.jpg" height="35" width="200">
                        </a>


                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        {% if session.user_id %}
                            <ul class="nav navbar-nav">
                                <li></br><a href="{{ url_for('trending') }}">#TRENDING</a></li>
                                <li></br><a href="{{ url_for('index') }}">Your profile</a></li>
                                <li>
                                    </br>
                                    <form action="{{ url_for('search') }}" method="post">
                                    <div class="form-group">
                                        <input autocomplete="off" autofocus class="form-control" name="search_input" placeholder="Name or Username" type="text"/>
                                    </div>
                                </li>
                                <li>
                                    </br>
                                    <div class="form-group">
                                        <button class="btn btn-default" type="submit">Search</button>
                                    </div>
                                    </form>
                                </li>





                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li></br><a href="{{ url_for('gif') }}">Upload GIF</a></li>
                                <li></br><a href="{{ url_for('uploaden') }}">Upload picture</a></li>
                                <li></br><a href="{{ url_for('logout') }}">Log Out</a></li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li></br><a href="{{ url_for('register') }}">Register</a></li>
                                <li></br><a href="{{ url_for('login') }}">Log In</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>

            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-info" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}

            <main>
                {% block main %}{% endblock %}
            </main>

        </div>

    </body>

</html>
