{% extends "layout.html" %}

{% block title %}
   Profile
{% endblock %}

{% block main %}
    <div class="grid">
      <div class="profile"></div>
          <div class="col-sm-3 rounded" >
            <h3>{{full_name}}</h3>
            <h6>(@{{ username }})</h6>
            <img src = "https://image.flaticon.com/icons/svg/149/149448.svg">
            </br>

            <div class="button-wrapper">
            <div class="col-sm-6">
            <a href="/followers" class="button">Volgers</a>
            </div>

            <div class="col-sm-6">
            <a href="/following" class="button">Volgend</a>
            </div>

            <div class="col-sm-6">
            <a href="{{ url_for('add_following') }}?fullname={{full_name}}&username={{username}}" class="button">Follow</a>
            </div>

            </div>


          </br>
          </br>

          </div>
          <div class="col-sm-1 rounded"> test</div>
          <div class="col-sm-8 rounded">
          <div class="row">
            <div class="col-sm-6" style="background-color:lightcyan;">
              <tbody>
                 {% for info in user_profile %}
                 <img src= "{{ url_for('uploaden')}}/{{info.username}}/{{info.filename}}" >
                <p>
                    <b>{{info.username}}:</b> {{info.description}}
                </p>
                <td><a href="{{ url_for('like')}}?filename={{info.filename}}",  class="button">Like</a></td>
                </br>
                </br>
                 {% endfor %}

                 </tbody>
         </div>
        <div class="col-sm-6" style="background-color:lightgray;">test</div>
        </div>
        </div>
        </div>



{% endblock %}