{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="grid-container">
        <div class="row">
            <div class="col-sm-4" ></div>
            <div class="col-sm-4 rounded">

    <h1>
        Registreren
    </h1>
    </br>

    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="full_name" placeholder="Full name" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password_control" placeholder="Password Control" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>

        </div>
    </form>
{% endblock %}
