{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Gebruikersnaam</th>
                <th>Profiel</th>
                <th>Volgen</th>
            </tr>
        </thead>
        <tbody>
        {% for i in users  %}
            <tr>
                <td>{{ i.full_name }}</td>
                <td>{{ i.username }}</td>
                <td><a href="{{ url_for('profile') }}?fullname={{i.full_name}}&username={{i.username}}",  class="button">Bekijk profiel</a></td>

                {% if i.username in following_user %}
                    <td><a href="{{ url_for('remove_following') }}?fullname={{i.full_name}}&username={{i.username}}",  class="button">Ontvolg profiel</a></td>
                {% else %}
                    <td><a href="{{ url_for('add_following') }}?fullname={{i.full_name}}&username={{i.username}}",  class="button">Volg profiel</a></td>
                {% endif %}
            </tr>



        {% endfor %}

    </table>
{% endblock %}