{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<div class="grid">
    <div class="profile"></div>
    <td><a href="{{ url_for('change_password') }}" class="button">Change Password</a></td>
    <p>Add Bio</p>
    <div class="form-group">
        <input class="form-control" name="bio" placeholder="Bio" type="text"/>
    </div>
    <div class="form-group">
        <button class="btn btn-default" type="submit">Submit bio</button>
    </div>
    <form method=post enctype=multipart/form-data>
    <p><input type=file name=file>
    <input type=submit value=Upload>
    </form>
{% endblock %}
