{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<div class="grid">
    <div class="profile"></div>
    <td><a href="{{ url_for('change_password') }}" class="button">Change Password</a></td>

    </br></br></br></br>

    <td><a href="{{ url_for('bio') }}" class="button">Add/Change Bio</a></td>

    </br></br></br></br></br>

    <td><a href="{{ url_for('profile_picture') }}" class="button">Add/Change Profile Picture</a></td
    </form>
{% endblock %}
