{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<div class="grid">
    <div class="profile"></div>
    <td><a href="{{ url_for('change_password') }}" class="button">Change Password</a></td>
    </br></br></br></br>
    <td><a href="{{ url_for('bio') }}" class="button">Add bio</a></td>
    </br></br></br></br></br>
    <!--<form method=post enctype=multipart/form-data>
    <p><input type=file name=file>
    <input type=submit value=Upload> -->
    </form>
{% endblock %}
