{% extends "layout.html" %}

{% block title %}
    Show Comments
{% endblock %}

{% block main %}

    {% for i in filetype %}

    {% if i.filetype == "gif" %}
        <img src ="{{i.filename}}">

    {% else %}
        <img src= "{{ url_for('uploaden')}}/{{username_photo}}/{{filename}}" >
    {% endif %}
    {% endfor %}
    </br>
    </br>
    <form action="{{ url_for('add_comment')}}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="add_comment" placeholder="Add comment" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Add comment</button>
            </div>
        </fieldset>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Comment</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody>
        {% for comments in selected_comments %}
            <tr>
                <td>{{ comments.own_username}}</td>
                <td>{{ comments.comment }}</td>
                <td>{{ comments.date }}</td>
            </tr>
        {% endfor %}
        <tfoot>
            <tr>
         <a href="profile?fullname={{full_name}}&username={{username_photo}}"class="button">Go to {{username_photo}}'s profile </a>
            </tr>
        </tfoot>
    </table>

{% endblock %}