{% extends "layout.html" %}

{% block title %}
    Show Comments
{% endblock %}

{% block main %}

   <img src= "{{ url_for('uploaden')}}/{{username_photo}}/{{filename}}" >

    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Comment</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody>
        {% for comments in selected_comments %}
            <tr>
                <td>{{ comments.own_username}}</td>
                <td>{{ comments.comment }}</td>
                <td>{{ comments.date }}</td>
            </tr>
        {% endfor %}
        <tfoot>
            <tr>
         <a href="profile?fullname={{full_name}}&username={{username_photo}}"class="button">Go to {{username_photo}}'s profile </a>
            </tr>
        </tfoot>
    </table>

{% endblock %}