{% extends "layout.html" %}

{% block title %}
    Timeline
{% endblock %}

{% block main %}
    <div class="grid">
        <div class="profile"></div>
        <div class="col-sm-3 profileborder" >
            </br>
            <a href="/settings" class="button">Settings</a>
            <h3>{{full_name}}</h3>
            <h6>(@{{username}})</h6>
            <img src = "{{ url_for('uploaden') }}/{{username}}/{{profile_picture}}"></img>
            </br>
            <h6>{{bio}}</h6>
            </br>
            <div class="button-wrapper">
                <div class="col-sm-6">
                    <a href="/followers" class="button">Followers: {{followers_count}} </a>
                </div>

                <div class="col-sm-6">
                    <a href="/following" class="button">Following: {{following_count}} </a>
                </div>

            </div>
            </br>
            </br>


        </div>
        <div class = "col-sm-1"> </div>
        <div class="col-sm-8 colomborder">
            <div class="row">

                {% for info in timeline_photos %}

                <div class="col-sm-6 photoborder">

                    <tbody>

                        {% if info.filetype == "gif" %}
                            <img src ="{{info.filename}}">

                        {% else %}
                             <img src = "{{ url_for('uploaden')}}/{{info.username}}/{{info.filename}}" >
                        {% endif %}
                            <p>
                            <b><td><a href="{{ url_for('profile') }}?fullname={{users[info.username]}}&username={{info.username}}", class="link"> {{info.username}}:</a></td></b> {{info.description}}
                            </br> +{{info.likes}}
                            </p>

                            {% if info.filename not in liked_filenames %}
                                <td><a href="{{ url_for('like')}}?filename={{info.filename}}",  class="button">Like</a></td>
                            {% else %}
                                <td><a href="{{ url_for('dislike')}}?filename={{info.filename}}",  class="button">Dislike</a></td>
                            {% endif %}

                    </tbody>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}